<div class="jumbotron center">
   <h1><i class="fa fa-instagram fa-1x"></i> #<%= 'SkimmChallenge' %></h1>
   <p>May the Best Skimm'r Win</p>
   <h4 style="bottom-margin: 10px;"> Click on the #hashtags below to view the daily entries!</h4>
<!--    <br>
   <form class="col-lg-12">
      <div class="input-group input-group-lg col-sm-offset-4 col-sm-4">
         <input id="search" type="text" name="q" class="center-block form-control input-lg"
         title="Search Photos" placeholder="Search Photos">
         <span class="input-group-btn"><button class="btn btn-lg
         btn-primary" type="submit">GO!</button></span>
      </div>
   </form>
   <br>
</div>-->

   <div id="mainButtons">
     <% @tags.each do |tag| %>
     <%#= link_to("##{tag}", root_path(q: tag), class: 'btn btn-primary') %>
     <%= link_to("##{tag}", 'javascript:void(0)', class: 'filter btn btn-primary', 'data-filter' => tag) %>
     <% end %>
     or
     <%= link_to("#skimmlife", root_path(q: 'skimmlife'), class: 'btn btn-primary') %>
   </div>

</div>

<div class="container">
   <div class="row">
      <% @search.each do |instagram| %>
         <div class="col-sm-8 col-md-4" data-tags="<%= instagram.tags.join(' ') %>">
            <div class="profile-panel">
               <div class="thumbnail"><%= link_to image_tag(instagram.images.standard_resolution.url), instagram.link, :target=>"_blank" %>
               </div>
               <div class="profile-container">
                  <div class="profile-image">
                     <%= image_tag instagram.user.profile_picture %>
                  </div>
               </div>   
            </div>
            <h4 class="caption"><b>@<%= instagram.user.username %></b>: <%= truncate(instagram.caption.text, length: 200) %></h4>
         </div>
      <% end %>
   </div> 
</div>
